{% extends 'base.html.twig' %}

{% block title %}Auteur{% endblock %}

{% block body %}
<div style="text-align:center; margin-top:50px; font-family:sans-serif;">
    <h1 style="color:#4d79ff;">Auteur : {{ name }}</h1>
</div>
{% endblock %}
