{% extends 'base.html.twig' %}

{% block title %}Service{% endblock %}

{% block body %}
<div class="container mt-5 text-center">
    <div style="display:flex; justify-content:center; align-items:center; height:100vh; background:linear-gradient(135deg, #ff4d4d, #ffffff); font-family:sans-serif;">
        <div style="background:white; padding:40px; border-radius:20px; box-shadow:0 8px 20px rgba(0,0,0,0.2); text-align:center;">
                
                <a href="{{ path('service_go_to_home') }}"    
                style="padding:10px 20px; background:#4d79ff; color:white; border-radius:10px; text-decoration:none;">
                Retour à l’accueil
                </a>
                
            <h1 style="color:#ff4d4d; font-size:3rem; margin-bottom:20px;">
            <h1 style="color:#ff4d4d;">Service : {{ name }}</h1>

        <p class="mt-3">Bienvenue sur la page du service <b>{{ name }}</b> </p>
        </div>
    </div>

    <div style="text-align:center; margin-top:20px;">
    
    </div>
</div>
{% endblock %}
